<!DOCTYPE html>
<html>

<head>
    <title>Generate YouTube Video Link</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-div">
        <h1>Enter YouTube Video URL</h1>
        <form action="/generate" method="post" class="form">
            <input type="text" name="videoUrl" placeholder="Enter YouTube URL" required class="input">
            <button type="submit" class="button">Generate Link</button>
        </form>
        <% if (!!locals.videoLink) { %>
            <div class="videolinkContainer">
                <a href="<%=videoLink%>" target="_blank" class="videolink">
                    <%=videoLink%>
                </a>
                <p class="copy">Copy</p>
            </div>
            <% } %>
    </div>
</body>

</html>