<!DOCTYPE html>
<html>

<head>
    <title>Video Link Generated</title>
</head>

<body>
    <h1>Your Video Link</h1>
    <a target="_blank" href="<%= videoLink %>">
        <%= videoLink %>
    </a>
</body>

</html>