<!DOCTYPE html>
<html>

<head>
    <title>Embed YouTube Video with Custom Controls</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        body {
            margin: 0;
            background-color: black;
        }

        #player-container {
            position: relative;
            width: 100%;
            padding-bottom: 45%;
            height: 0;
            overflow: hidden;


        }

        #player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
            background-color: black;
        }




        /* Overlay to cover the YouTube logo area */
        #full-overlay {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            background: transparent;
            z-index: 10;
        }

        #logo-overlay {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 113px;
            height: 40px;
            background: transparent;
            z-index: 10;
        }

        #skip-left-overlay {
            position: absolute;
            left: 0;
            top: 20%;
            bottom: 20%;
            width: 15%;
            z-index: 15;
            opacity: 0;
            font-size: 3em;
            color: white;
            text-align: center;
            padding-top: 200px;
        }

        #skip-right-overlay {
            position: absolute;
            right: 0;
            top: 20%;
            bottom: 20%;
            width: 15%;
            z-index: 15;
            opacity: 0;
            font-size: 3em;
            color: white;
            text-align: center;
            padding-top: 200px;
        }

        .skip-animation {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3em;
            background-color: white;
            opacity: 0;
            pointer-events: none;
            z-index: 15;
        }

        .fade {
            animation: fade 1s forwards;
        }

        @keyframes fade {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#full-overlay").css("height", $("#player").height() - 45);
        });



        function toggleFullScreen() {
            if (!document.fullscreenElement) {
                document.documentElement.requestFullscreen();
            } else if (document.exitFullscreen) {
                document.exitFullscreen();
            }
        }

        // Prevent right - click on the whole document
        document.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });

        // Prevent common keyboard shortcuts
        document.addEventListener('keydown', function (e) {
            if (e.keyCode == 123 || // F12
                (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) || // Ctrl+Shift+I
                (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) || // Ctrl+Shift+J
                (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) // Ctrl+U
            ) {
                e.preventDefault();
            }
        });

        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // Replace the 'player' div with an <iframe> and YouTube player after the API code downloads.
        var player;
        var isPlaying = false;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                videoId: '<%= videoId %>', // Replace with your YouTube video ID
                playerVars: {
                    'controls': 1,         // Show controls
                    'rel': 0,              // Do not show related videos
                    'modestbranding': 1,   // Minimize YouTube branding
                    'disablekb': 1,        // Disable keyboard controls
                    'iv_load_policy': 0,   // Hide video annotations
                    'cc_load_policy': 0,   // Disable closed captions
                    'playsinline': 1,
                    'autoplay': 1      // Play inline on mobile devices
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });

        }


        function onPlayerReady(event) {


            // Set the video quality to a desired level
            // Available quality levels: 'small', 'medium', 'large', 'hd720', 'hd1080', 'highres'
            event.target.setPlaybackQuality('hd720');

        }

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING) {
                isPlaying = true;
            } else {
                isPlaying = false;
            }

            if (event.data == YT.PlayerState.BUFFERING) {
                event.target.setPlaybackQuality('hd720');
            }
        }
        function toggleVideo() {
            if (isPlaying) {
                player.pauseVideo();
                isPlaying = false;
            } else {
                player.playVideo();
                isPlaying = true;
            }
        }

        function changeVolume(volume) {
            if (player) {
                player.setVolume(volume);
            }
        }

        function seekTo(volume) {
            if (player) {
                player.seekTo((player.getDuration() / 100) * volume)
            }
        }

        function toggleMute() {
            player.setSphericalProperties()
            if (player.isMuted()) {
                player.unMute();
            } else {
                player.mute();
            }
        }

        function changeQuality(quality) {
            if (player && player.setPlaybackQuality) {
                player.setPlaybackQualityRange(quality);
                displayCurrentQuality();
            }
        }

        function displayCurrentQuality() {
            if (player && player.getPlaybackQuality) {
                var quality = player.getPlaybackQuality();
                console.log('Current Playback Quality:', quality);
                // Example: Display quality in a DOM element
                document.getElementById('currentQuality').textContent = 'Current Quality: ' + quality;
            }
        }

        function skipForward() {
            var currentTime = player.getCurrentTime();
            player.seekTo(currentTime + 10); // Skip forward 10 seconds
            showAnimation('skip-right-overlay');
        }

        // Function to skip backward
        function skipBackward() {
            var currentTime = player.getCurrentTime();
            player.seekTo(Math.max(currentTime - 10, 0)); // Skip backward 10 seconds, but not below 0
            showAnimation('skip-left-overlay');
        }

        function showAnimation(elementId) {
            var element = document.getElementById(elementId);
            element.style.opacity = 1
            element.classList.add('fade');
            setTimeout(function () {
                element.style.opacity = 0
                element.classList.remove('fade');
            }, 1000); // The duration of the fade animation
        }


    </script>
</head>

<body>
    <script src="./resources/js/main.js"></script>
    <div id="player-container">
        <div id="player"></div>
        <div id="full-overlay" ondblclick="toggleFullScreen()" onclick="toggleVideo()"></div>
        <div id="logo-overlay" onclick="toggleFullScreen()"></div>
        <div id="skip-left-overlay" onclick="skipBackward()"> &lt;&lt; 10
            <p class="skip-animation"></p>
        </div>
        <div id="skip-right-overlay" onclick="skipForward()">10&gt;&gt;
            <p class="skip-animation">+10</p>
        </div>

    </div>
</body>

</html>