<!DOCTYPE html>
<html>

<head>
    <title>Embed YouTube Video with Custom Controls</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/video.css">

</head>

<body>
    <script src="/js/video.js"></script>
    <script>

        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // Replace the 'player' div with an <iframe> and YouTube player after the API code downloads.
        var player;
        var isPlaying = false;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                videoId: '<%= videoId %>', // Replace with your YouTube video ID
                playerVars: {
                    'controls': 1,         // Show controls
                    'rel': 0,              // Do not show related videos
                    'modestbranding': 1,   // Minimize YouTube branding
                    'disablekb': 1,        // Disable keyboard controls
                    'iv_load_policy': 3,   // Hide video annotations
                    'cc_load_policy': 0,   // Disable closed captions
                    'playsinline': 1,       // Play inline on mobile devices
                    'autoplay': 1
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });

        }
    </script>
    <div id="player-container">
        <div id="player"></div>
        <div id="full-overlay" ondblclick="toggleFullScreen()" onclick="toggleVideo()"></div>
        <div id="logo-overlay"></div>
        <div id="fs-overlay" onclick="toggleFullScreen()"></div>
        <div id="skip-left-overlay" onclick="skipBackward()">
            <p class="skip-animation"></p>
        </div>
        <div id="skip-right-overlay" onclick="skipForward()">
            <p class="skip-animation"></p>
        </div>

    </div>
</body>

</html>